* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.container {
    display:flex;
    justify-content:space-around;
    margin-top: 50px;
}

.title-container {
    display: flex;
    justify-content: center;
    background-color:crimson;
    padding: 20px;
}






